.pokemon-item {
    border: 2px solid rgb(24, 24, 235);
    border-radius: 5%;
    text-align: center;
    margin: 10px;
}

.pokemon-item img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: auto;
}

.pokemon-item h2 {
    background-color: rgba(0, 0, 139, 0.207);
    padding: 20px;
    position: relative;
}